html,body,div,span,iframe,figure,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}:focus{outline:0}body{line-height:1;color:black;background:white}ol,ul{list-style:none}table{border-collapse:separate;border-spacing:0}caption,th,td{text-align:left;font-weight:normal}blockquote:before,blockquote:after,q:before,q:after{content:""}blockquote,q{quotes:"" ""}

@font-face {
					  font-family: 'optional';
					    src: url("../../../../fonts/optional.eot");
					    src: local('optional'),
					       url("../../../../fonts/optional.svg") format('svg'),
					       url("../../../../fonts/optional.otf") format('opentype');
					}
figcaption { padding-bottom: 1em; }
body { font: 16px/1.8 Helvetica,Arial,sans-serif; margin: 0 auto; padding: 0 1.5em 1.5em 1.5em; max-width: 960px; background-color: #f7f7f7; color: #444;}
#header { text-align: center; }
h1 { font-size: 140px; line-height: .85754; font-weight: 600; letter-spacing: -.008em; margin: 0; margin-bottom: 0.5em; text-align: left; }
@media only screen and (max-width: 860px){
h1 { font-size: 120px; }	
}
@media only screen and (max-width: 560px){
h1 { font-size: 60px; }	
}



h2 { font-size: 1.5em; line-height: 1em; font-weight: 600; margin-bottom: 1em; text-align: left; }

h3 { font-weight: bold; font-size: 1.25em; line-height: 1.5em;}
h4, h5, h6 { font-size: 1em; line-height: 1.5em; }
p, ol, ul { font-size: 1em; line-height: 1.5em; padding: 0 0 1.5em; }
ul li { list-style-type: disc; }
ol li { list-style-type: decimal-leading-zero; }
div, li { font-size: 1em; line-height: 1.5em; }
blockquote { font-style: italic; padding: 0 1.5em 1.5em 1.5em; color: #666; }
em { font-style: italic; }
strong { font-weight: bold; }
sub,sup { font-size: 50%; }
sup { vertical-align:top; }
a { color: #003F87; text-decoration: underline;}
a:active { position: relative; top: 1px; }
za:hover { background-color: #FFD700; }
za:visited { background-color: #FFD700; }
za:visited:hover { background-color: #FFD700; }
a { -webkit-transition: all 0.5s linear; }
table { font-size: 1em; line-height: 1.5em; margin: 0 0 1.5em 0; outline: 1px solid #ddd; width: 100%; }
th, td {  padding: 0 .5em; line-height: 1.5em; text-align: center; }
th { font-weight: bold; border-bottom: 1px solid #ccc; background-color: #ddd;}
tfoot td {font-weight: bold; border-top: 1px solid #ccc; background-color: #ddd;  }
td.item { text-align: left; }
tr:nth-child(odd) { background-color: #eee;}
code, pre, kbd { font-family: "Andale Mono", Monaco, Courier, "Courier New", serif; color: #666666; padding: 0 0 1.5em; 
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
 }
figcaption{
margin: 5px 0;
font-size: 80%;
opacity: 0.8;
	text-align: center;
}
#header a, #header a:visited, #header a:active, #header a:focus { background-color: #f7f7f7; } 
#footer a.url, #footer a.url:visited, #footer a.url:active, #footer a.url:focus { background-color: #f7f7f7; color: #333; } 
#footer { clear: both; padding-top: 1em; }

.banner { width: 100%; text-align: center; padding: 0 0 1.5em;}
.banner img { max-width: 100% !important; height: auto; }
iframe { max-width: 100% !important; }
.time { color: #999; }
.postmetadata { padding-bottom: 4em; }
.description {color: #777; padding: 0 3em;}

ul li.categories { list-style-type: none; clear: both; }
.categories .cat-item { margin-right: 8px; margin-bottom: 10px; float: left; width: 216px; list-style-type: none;  }
.categories .cat-item a { text-align: left; display: block; position: relative; }
.categories .cat-item a span { position: absolute; right: 0 }

.archives { clear: both; }
ul li.archives { list-style-type: none; clear: both; }
.archives li { margin-right: 8px; margin-bottom: 10px; float: left; width:160px; list-style-type: none;  }
.archives li a { text-align: left; display: block; position: relative; }
.archives li a span { position: absolute; right: 0 }
.feed a { padding-left:20px; background-image: url('https://suda.co.uk/images/feed.gif'); background-position: 3px 50%; background-repeat: no-repeat
}

.navigation { clear: both; padding-bottom: 5em; }
.navigation .prev { float: left;  width: auto; text-align: left; }
.navigation .next { float: right; width: auto; text-align: right; }
.navigation a { font-weight: bold; color: #000; text-decoration: underline; }
.readmore { font-weight: bold; color: #003F87; text-decoration: underline; background-color: #f4f4f4;}
.navigation a, .navigation a:hover, .readmore:hover,.navigation a:visited, .readmore:visited, .navigation a:active, .readmore:active, .navigation a:focus, .readmore:focus  { background-color: #f4f4f4;}


li.comment { padding-bottom: 2em; }

::-moz-selection{ background: #FFD700; color:#000; text-shadow: none; }
::selection { background:#FFD700; color:#000; text-shadow: none; }

			.tag, .category { text-decoration: none; background-color: #DEEBDE; padding: 2px 8px;border-radius: 12px; color: #333; white-space:nowrap }
			.tag:hover { background-color: #deebde }
			.category { background-color: #dee9eb}
			.category:hover { background-color: #dee9eb}
#header h1 { letter-spacing: 0; margin: 0; }
#header h1 a { font-family: optional; text-decoration: none; font-size: 65px; line-height: 140px; text-align: left; color: #333; letter-spacing: 0; margin: 0; }
#footer .url { font-family: optional; text-decoration: none; font-size: 26px; }

aside { background-color: rgb(221,221,221); padding: 1em 1em 0 1em; margin: 0 0 1.5em 0; border-left: 10px solid rgb(186,186,186); }

@media print{
 html body { width: auto; }
 #searchform, .navigation { display: none; }
}

@media only screen and (max-width: 480px) {
	#header h1 a  { font-family: optional; font-weight: normal; font-size: 55px; line-height: 140px; padding: 0 5px; }
}
.postmetadata { font-size: 14px }
.postmetadata p { line-height: 1.75em }